<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>社員一覧</title>
	<meta charset="utf-8" />
	<link th:href="@{reset.css}" rel="styleSheet">
	<link th:href="@{employeeslist.css}" rel="styleSheet">
</head>

<body>
	<h1>社員一覧</h1>
	<ul class="employee_list">
		<li class="employee_item" th:each="employee : ${employeesList}">
			<p class="employee_id" th:text="${employee.id}"></p>
			<p class="employee_name" th:text="${employee.name}"></p>
			<p class="employee_hometown" th:text="${employee.hometown}"></p>
			<p class="employee_joiningmonth" th:text="${employee.joiningMonth}"></p>
			<form action="employeeattendance" method="get">
				<input type="hidden" name= "employeeid" th:value=${employee.id}>
				<button type="submit">詳細</button>
			</form>
		</li>
	</ul>
</body>